<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <% if (locals.isAuth) {%>
    <h1>
      WELCOME BACK
      <%= currentUser.username %>
      <div>
        <a href="/create-message">
          <button>Create new message</button>
        </a>
      </div>
    </h1>
    <a href="/log-out">LOG OUT</a>
    <% } else { %>
    <h1>
      please
      <a href="/log-in">log in</a>
      or
      <a href="/sign-up">sign up</a>
    </h1>
    <%}%>
    <%- include("messageList.ejs") %>
  </body>
</html>
