<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Members Only</title>
  </head>
  <body>
    <main class="app-container">
      <% if(locals.isAdmin){ %>
      <div class="admin-badge">Admin Mode Active</div>
      <% } %>

      <% if (locals.isAuth) {%>
      <div class="member-badge">You are a member</div>
      <header class="page-header">
        <h1>
          WELCOME BACK,
          <span class="highlight"><%= currentUser.username %></span>
        </h1>

        <div class="auth-actions">
          <% if(!locals.isMember){ %>
          <div class="member-message">
            <a href="/membership">Become a member</a> to see who's posting
          </div>
          <% } %>

          <a href="/create-message" class="btn-link">
            <button>Create new message</button>
          </a>
          <a href="/log-out" class="logout-link">LOG OUT</a>
        </div>

        <% } else { %>
        <h1>Welcome to the club</h1>
        <h2>
          please <a href="/log-in">log in</a> or
          <a href="/sign-up">sign up</a> to post some messages
        </h2>
        <%}%>
      </header>

      <section class="messages-section">
        <%- include("messageList.ejs") %>
      </section>
    </main>
  </body>
</html>
