<div class="messageList">
  <% if(userMessages.length !== 0) { %> <% userMessages.forEach(message => { %>
  <%- include("partials/message.ejs", {message: message}) %>
  <% }); %>
  <% }else{ %>
  <p class="empty-state">No messages yet. Be the first to post!</p>
  <% } %>
</div>
