<div class="messageList">
  <% if(locals.userMessages) { %> <% userMessages.forEach(message => { %>
  <%- include("partials/message.ejs", {message: message}) %>
  <% }); %>
  <% }else{ %>
  No messages.
  <% } %>
</div>
